.app {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header {
  display: flex;
  justify-content: start;
  gap: 20%;
}

.item {
  display: flex;
  gap: 5px;
}

.filter {
  display: flex;
  gap: 5px;
}

