.manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.btn-upload {
  position: relative;
  background-color: white;
  border-radius: 5px;
  border: black solid 2px;
  height: 100px;
  width: min(400px, 90%);
}

.btn-upload input[type="file"] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.btn-upload-text {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}
