.photo {
  position: relative;
  width: min(200px, 90%);
  aspect-ratio: 1 / 1;
}

.photo img {
  width: 100%;
  height: 100%;
  border: 2px solid;
}

.photo button {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
}
